body {
}

.container {
  margin: 0 auto;
  width: 80em;
}

h2, h4, h5 {
  text-align: center;
  vertical-align: center;
}

.space {
  height: 6em;
}


.square {
  min-width: 2.5em;
  min-height: 2.5em;
  flex-grow: 1;
  border-radius: 7px;
  border: 0.15em solid #3498db;
  background-color: #EAE2CF;
}

.handSquare {
  width: 3em;
  height: 3em;
  flex-grow: 1;
  border-radius: 10px;
  border: 0.15em solid #3498db;
  background-color: #EAE2CF;
  overflow: hidden;
  float: left;
  display: block;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 37.5em;
  height: 37.5em;
  border-radius: 7px;
  margin: 0 auto;
  background-color: #3498db;
}

.hand {
  width: 21em;
}

.button{
  margin: 1em
}

#score_one, #score_two{
  text-indent: 0.5em;
}

/*.sub {
  font-variant-position: sub;
}
*/